<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          <div class="user-image">
            <img src="images/faces/face28.png">
          </div>
          <div class="user-name">
              Edward Spencer
          </div>
          <div class="user-designation">
              Developer
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.php">
              <i class="icon-box menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sidanghariini.php">
              <i class="icon-file menu-icon"></i>
              <span class="menu-title">Sidang Hari Ini</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="perkaragugatan.php">
              <i class="icon-file menu-icon"></i>
              <span class="menu-title">Perkara Gugatan</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="perkarapermohonan.php">
              <i class="icon-file menu-icon"></i>
              <span class="menu-title">Perkara Permohonan</span>
            </a>
          </li>		  
        </ul>
      </nav>